:root {
    --d: 700ms;
    --e: cubic-bezier(0.19, 1, 0.22, 1);
    --font-sans: 'Rubik', sans-serif;
    --font-serif: 'Cardo', serif;
}

.page-content {
    display: grid;
    grid-gap: 1rem;
    padding: 2rem;
    max-width: 1300px;
    margin: 0 auto;
    min-height: 59vh;
    height: auto;
    scroll-margin-top: 100px;
}


@media (min-width: 600px) {
    .page-content {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 800px) {
    .page-content {
        grid-template-columns: repeat(4, 1fr);
    }
}

.page-content .card {
    position: relative;
    display: flex;
    align-items: flex-end;
    overflow: hidden;
    padding: 1rem;
    width: 100%;
    text-align: center;
    color: whitesmoke;
    background-color: whitesmoke;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    min-height: 250px;
}

@media (min-width: 600px) {
    .page-content .card {
        height: 350px;
    }
}

.page-content .card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 110%;
    background-size: cover;
    background-position: center;
    transition: transform calc(var(--d) * 1.5) var(--e);
}

.page-content .card:nth-child(1)::before {
    background-image: url(https://images.unsplash.com/photo-1517021897933-0e0319cfbc28?auto=format&fit=crop&w=800&q=80);
}

.page-content .card:nth-child(2)::before {
    background-image: url(https://images.unsplash.com/photo-1533903345306-15d1c30952de?auto=format&fit=crop&w=800&q=80);
}

.page-content .card:nth-child(3)::before {
    background-image: url(https://images.unsplash.com/photo-1545243424-0ce743321e11?auto=format&fit=crop&w=800&q=80);
}

.page-content .card:nth-child(4)::before {
    background-image: url(https://images.unsplash.com/photo-1531306728370-e2ebd9d7bb99?auto=format&fit=crop&w=800&q=80);
}

.page-content .card::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200%;
    background-image: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.7) 100%);
    transform: translateY(-50%);
    transition: transform calc(var(--d) * 2) var(--e);
}

.page-content .content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 1rem;
    transition: transform var(--d) var(--e);
    z-index: 1;
}

.page-content .title {
    font-size: 1.3rem;
    font-weight: bold;
}

.page-content .copy {
    font-family: var(--font-serif);
    font-size: 1.125rem;
    font-style: italic;
}

.page-content .btn {
    cursor: pointer;
    margin-top: 1rem;
    padding: 0.75rem 1.5rem;
    font-size: 0.75rem;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    background: black;
    border: none;
    border-radius: 4px;
    transition: background 0.3s;
}

.page-content .btn a {
    color: white;
    text-decoration: none;
}

.page-content .btn:hover {
    background: #333;
}

/* Hover Effects (desktop only) */
@media (hover: hover) and (min-width: 600px) {
    .page-content .content {
        transform: translateY(calc(100% - 4.5rem));
    }

    .page-content .content>*:not(.title) {
        opacity: 0;
        transform: translateY(1rem);
        transition: transform var(--d) var(--e), opacity var(--d) var(--e);
    }

    .page-content .card:hover .content {
        transform: translateY(0);
    }

    .page-content .card:hover .content>*:not(.title) {
        opacity: 1;
        transform: translateY(0);
        transition-delay: calc(var(--d) / 8);
    }
}

@media (max-width: 599px) {
    .page-content .copy {
        font-size: 1rem;
    }

}